@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #F2E3CF;
  color: #0D1A22;
  font-family: "IM Fell English", serif;
  line-height: 1.8;
}

header, footer {
  width: 100%;
  background-color: #802A2A;
  color: #DFB66B;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
}

header a {
  color: #F2E3CF;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

header a::after, .logout-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #DFB66B;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.logout-button, .hamburger {
  background: none;
  color: #F2E3CF;
  position: relative;
  display: inline-block;
  padding: 0;
  transition: none;
}

.hamburger {
  display: none; /* Hide hamburger on large screens */  
}

.logout-button:hover, .hamburger:hover {
  background: none;
}

header a:hover::after, .logout-button:hover::after {
  width: 100%;
}

.site-title {
  font-family: Cinzel, serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #DFB66B;
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 0;
}


.site-title::after {
  content: none;
}

footer {
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cinzel, serif;
}

button {
  background-color: #428985;
  color: #DFB66B;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-family: "IM Fell English", serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #346c6a;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.hero {
  position: relative;
  min-height: 70vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6)),
    url("./assets/books.jpg");
  background-size: cover;
  background-position: center top;
  color: #F2E3CF;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero h2 {
  font-size: 2.5rem;
  max-width: 75%;
}

.hero p {
  font-size: 2rem;
  max-width: 75%;
}

.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.books .card {
  width: 300px;
}

.search {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.search input {
  background: white;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem;
}

.thumbnail {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

hr {
  border: none;
  border-top: 6px double #DFB66B;
  margin: 1rem 0;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

input {
  background-color: #F2E3CF;
  width: 50%;
  border: 1px solid #428985;
  border-radius: 1rem;
  padding: 0 1rem;
  font-family: "IM Fell English", serif;
  font-size: 1rem;
}

.login-button {
  margin-bottom: 1rem;
}

.form-error {
  color: red;
  text-align: right;
  margin-bottom: 1rem;
}

.form-card button {
  margin-bottom: 1rem;
}

.cart-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.items-heading {
  color: #428985;
  margin-top: 1rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    margin-top: -5px;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background: #F2E3CF;
    margin: 4px 0;
  }

  nav {
    display: none;
    flex-direction: column;
    margin-left: 1rem;
  }

  nav.open {
    display: flex; /* Toggle visibility with hamburger */
  }
}