# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# macOS files
.DS_Store

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables / secrets
.env
.env.*
*.env

# PostgreSQL / database dumps
*.sql
*.dump

# IDEs / editors
.vscode/
.idea/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Node
node_modules/

# Static build artifacts
dist/
build/